html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption, figure, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

.boton {
  border-radius: 6px;
  display: inline-block;
  border-width: 1px;
  color: #FFFFFF;
  padding: 10px;
  box-sizing: border-box;
  background-color: #AAAAAA;
  border-color: #919191; }
  .boton:hover {
    background-color: #919191; }
  .boton:active {
    box-shadow: inset 0px 4px #777777; }

.boton--primary {
  background-color: #337AB7;
  border-color: #285f8f; }
  .boton--primary:hover {
    background-color: #285f8f; }
  .boton--primary:active {
    box-shadow: inset 0px 4px #1d4567; }

.boton--success {
  background-color: #5CB85C;
  border-color: #449d44; }
  .boton--success:hover {
    background-color: #449d44; }
  .boton--success:active {
    box-shadow: inset 0px 4px #357935; }

.boton--info {
  background-color: #5BC0DE;
  border-color: #31b0d5; }
  .boton--info:hover {
    background-color: #31b0d5; }
  .boton--info:active {
    box-shadow: inset 0px 4px #2390b0; }

.boton--warning {
  background-color: #F0AD4E;
  border-color: #ec971f; }
  .boton--warning:hover {
    background-color: #ec971f; }
  .boton--warning:active {
    box-shadow: inset 0px 4px #c77c11; }

.boton--danger {
  background-color: #D9534F;
  border-color: #c9302c; }
  .boton--danger:hover {
    background-color: #c9302c; }
  .boton--danger:active {
    box-shadow: inset 0px 4px #a02622; }

.boton--extra_small {
  font-size: 5px;
  padding: 5px; }

.boton--small {
  font-size: 10px;
  padding: 10px; }

.boton--large {
  font-size: 15px;
  padding: 15px; }

.panel {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #dddddd; }

.panel__header {
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 0px;
  background-color: #AAAAAA;
  color: #5e5e5e;
  border-color: #777777; }

.panel__body {
  padding: 15px 15px;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 0px 0px 4px 4px;
  border-color: #777777; }

.panel--primary {
  box-shadow: 2px 2px 10px #77acd9; }

.panel--success {
  box-shadow: 2px 2px 10px #a3d7a3; }

.panel--info {
  box-shadow: 2px 2px 10px #b0e1ef; }

.panel--warning {
  box-shadow: 2px 2px 10px #f8d9ac; }

.panel--danger {
  box-shadow: 2px 2px 10px #eba5a3; }

.panel__header--primary {
  background-color: #337AB7;
  color: #122a3f;
  border-color: #1d4567; }

.panel__header--success {
  background-color: #5CB85C;
  color: #255625;
  border-color: #357935; }

.panel__header--info {
  background-color: #5BC0DE;
  color: #1b6d85;
  border-color: #2390b0; }

.panel__header--warning {
  background-color: #F0AD4E;
  color: #985f0d;
  border-color: #c77c11; }

.panel__header--danger {
  background-color: #D9534F;
  color: #761c19;
  border-color: #a02622; }

.panel__body--primary {
  border-color: #1d4567; }

.panel__body--success {
  border-color: #357935; }

.panel__body--info {
  border-color: #2390b0; }

.panel__body--warning {
  border-color: #c77c11; }

.panel__body--danger {
  border-color: #a02622; }

.mensaje {
  padding: 20px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #dddddd;
  border-color: #AAAAAA;
  color: #777777;
  box-shadow: 2px 2px 10px #dddddd; }

.mensaje--primary {
  background-color: #77acd9;
  border-color: #337AB7;
  color: #1d4567;
  box-shadow: 2px 2px 10px #77acd9; }

.mensaje--success {
  background-color: #a3d7a3;
  border-color: #5CB85C;
  color: #357935;
  box-shadow: 2px 2px 10px #a3d7a3; }

.mensaje--info {
  background-color: #b0e1ef;
  border-color: #5BC0DE;
  color: #2390b0;
  box-shadow: 2px 2px 10px #b0e1ef; }

.mensaje--warning {
  background-color: #f8d9ac;
  border-color: #F0AD4E;
  color: #c77c11;
  box-shadow: 2px 2px 10px #f8d9ac; }

.mensaje--danger {
  background-color: #eba5a3;
  border-color: #D9534F;
  color: #a02622;
  box-shadow: 2px 2px 10px #eba5a3; }
