$num-cols: 12;

@for $i from 1 through $num-cols {
  .col-#{$i} { 
      float:left;
      width: ((100/$num-cols)*$i)*1%;
  }
  
  .offset-#{$i} { 
      margin-left: ((100/$num-cols)*$i)*1%;
  }
}

.row:after{
    content: "";
    clear:both;
    display: block;
}

.border{
    border: 1px solid red;
}


////////menú hamburguesa

.main-menu:after {
    content: "";
    clear:both;
    display: block;
}
 
.main-menu__item {
    /*padding: 10px;*/
    color: white;
    background-color: #4D5158;
}
 
.main-menu__hamburger {
    padding: 10px;
    color: white;
    background-color: #4D5158;    
}
 
 
@media  (max-width: 499px) {
    .main-menu__item {
        float:none;
        display:none;
    }
    .main-menu__hamburger {
        display: inline-block;
    }
    
    .enlace-hamb{
        text-decoration: none;
        color: white;
    }
     
    .main-menu {
        position:absolute;
        /*top:19px;*/
        left:0px;
    }
     
    .main-menu__item--visible {
        display:list-item;
    }
    .main-menu__item--hide {
        display:none;
    }
 
     
}
@media  (min-width: 500px) {
    .main-menu__item {
/*        float:left;
        display:list-item;*/
    }
     
    .main-menu__hamburger {
        display: none;
    }
 
    .main-menu {
        position: static;      
    }
}