.boton{
    border-radius: 6px;
    display: inline-block;
    border-width: 1px;
    color: $button-color;
    padding: 10px;
    box-sizing: border-box;
    //////////
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    //////////
    @include button-generic(#AAAAAA);
}

@each $functionality-name, $color--primary in $functionalities {
    .boton--#{$functionality-name} {
        @include button-generic($color--primary);
    }
}
@for $i from 1 through length($sizes){
    .boton--#{nth($sizes, $i)} {
    font-size: $i*5px;
    padding: $i*5px;
    width: auto;
    }
}

.boton--default{
    width: auto;
    padding-top: auto;
    padding-bottom: auto;
}

@each $rocket, $color, $background-color, $border-color in $button-rocket {
    .boton__#{$rocket} {
        @include button__rocket-generic($color, $background-color, $border-color);
    }
}