.boton{
    border-radius: 6px;
    display: inline-block;
    border-width: 1px;
    color: $button-color;
    padding: 10px;
    box-sizing: border-box;
    @include button-generic(#AAAAAA);
}

@each $functionality-name, $color--primary in $functionalities {
    .boton--#{$functionality-name} {
        @include button-generic($color--primary);
    }
}
@for $i from 1 through length($sizes){
    .boton--#{nth($sizes, $i)} {
    font-size: $i*5px;
    padding: $i*5px;
    }
}