.mensaje{
    padding: 20px;
    border: 1px solid;
    border-radius: 4px;
    @include mensaje-generic(#AAAAAA);
}

@each $format, $color--primary in $functionalities {
    .mensaje--#{$format} {
        @include mensaje-generic($color--primary);
    }
}