.panel{
    box-sizing: border-box;
    border-radius: 4px;
    @include panel-generic(#AAAAAA);
}

.panel__header{
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 0px;
    @include panel__header-generic(#AAAAAA);
}

.panel__body{
    padding: 15px 15px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 0px 0px 4px 4px;
    @include panel__body-generic(#AAAAAA);
}

@each $format, $color--primary in $format--variations {
    .panel--#{$format} {
        @include panel-generic($color--primary);
    }
}

@each $format, $color--primary in $format--variations {
    .panel__header--#{$format} {
        @include panel__header-generic($color--primary);
    }
}

@each $format, $color--primary in $format--variations {
    .panel__body--#{$format} {
        @include panel__body-generic($color--primary);
    }
}