$button-color: #FFFFFF;

$functionalities:    (primary, #337AB7),
                        (success, #5CB85C),
                        (info, #5BC0DE),
                        (warning, #F0AD4E),
                        (danger, #D9534F);

$sizes: (extra_small), (small), (large);

$seccion-rocket: (Falcon9, #FFBA73),
            (FalconHeavy, #BD63D4);
            
$button-rocket: (Falcon9, #FFE440, #6549D7, #100873),
            (FalconHeavy, #FFD300, #7EB12C, #138900);
            
$num-cols: 12;

$size-column:   (xs,0px),
                (sm,750px),
                (md,970px),
                (lg,1170px);